---
title: {{ name }}
head:
- tag: meta
  attrs:
    name: keywords
    content: {{ keywords | join(', ') }}
- tag: meta
  attrs:
    name: description
    content: |
        {{ description.split("\n") | map('striptags') | join(' ') | truncate(200) }}
---

## {{ name }}

{{ description }}

**Keywords :** {{ keywords | join(', ') }}

{% if components -%}
**Components :** {{ components | map('component_format') | join(', ') }}
{%- endif %}

{% if input %}
---

### Inputs

| | Type | Description | Mandatory | Pattern |
|-|-|-|-|-|

{%- for channel in input %}
{% for name, content in channel.items() -%}
| {{ name }} | {{ content.type }} | {{ content.description | channel_descr }} | {{ content.mandatory | default(True) }} | {% if content.pattern %} `{{ content.pattern }}` {% endif %} |
{%- endfor %}
{%- endfor -%}
{% endif %}

{% if output %}
---

### Outputs

| | Type | Description | Mandatory | Pattern |
|-|-|-|-|-|

{%- for channel in output %}
{% for name, content in channel.items() -%}
| {{ name }} | {{ content.type }} | {{ content.description | channel_descr }} | {{ content.mandatory | default(True) }} | {% if content.pattern %} `{{ content.pattern }}` {% endif %} |
{%- endfor %}
{%- endfor -%}
{% endif %}

{%- if args is iterable and args | length > 0 -%}

---

## Parameters (see [configuration](https://www.nextflow.io/docs/latest/config.html#parameters))

| | Type | Description | Default | Choices |
|-|-|-|-|-|

{%- for arg in args %}
{% for name, content in arg.items() -%}
| {{ name }} | {{ content.type }} | {{ content.description | replace("\n", " ") }} | {{ content.default }} | {{ content.choices | format_choices }} |
{%- endfor %}
{%- endfor %}

{%- endif %}

---

### Authors

{% for author in authors -%}
- [{{ author }}](https://github.com/{{ author | trim("@") }})
{% endfor -%}

{% if maintainers %}
### Maintainers

{% for maintainer in maintainers -%}
- [{{ maintainer }}](https://github.com/{{ maintainer | trim("@") }})
{% endfor -%}
{%- endif %}

---

**Last updated** : [{{ currentdate }}](https://github.com/nf-neuro/modules/commit/{{ currentcommit }})
