process {
    withName: "HARMONIZATION:FORMAT_INPUT_MOVING" {
        ext.inverse = false
    }
    withName: "HARMONIZATION:FORMAT_INPUT_REFERENCE" {
        ext.inverse = false
        ext.suffix = "ref"
    }
    withName: "HARMONIZATION:FORMAT_OUTPUT" {
        ext.inverse = true
    }
    withName: "HARMONIZATION:HARMONIZATION_CLINICALCOMBAT" {
        ext.bundles = "all"
    }
}
